<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>rST fiddle</title>
        <meta name="description" content="reStructuredText fiddle site, wrote using Flask web microframework">
        <meta name="keywords" content="reStructuredText, rst, fiddle, flask, nanvel, try">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}" />
        <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
            <h1>rST fiddle</h1><a href="#" id="run" data-url="{{ url_for('rsttohtml') }}">run</a><span id="spinner">Processing ...</span>
        </header>
        <div style="clear: both;"></div>
        <div class="content">
            <div id="rst">
                <div>
                <textarea></textarea>
                </div>
            </div>
            <div id="result">
                <div></div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <footer><a href="http://nanvel.name/projects/rstfiddle/" target="_blank">http://nanvel.name/projects/rstfiddle/</a></footer>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}" charset="utf-8"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}" charset="utf-8"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-43849362-1', 'nanvel.com');
            ga('send', 'pageview');
        </script>
    </body>
</html>
